header
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= title
  script(src="/javascripts/profile.js")
  script(src="/javascripts/profile_edit.js")
  link(rel="stylesheet", href="/stylesheets/profile/profile.css")
  link(rel="stylesheet", href="/stylesheets/profile/profile-edit.css")
body#profile.bg_dark_medium
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg_dark_bold.justify-content-between#top_nav
      a.navbar-brand(href='/') Werewolf Online
      .dropdown#user_actions_dropdown
        button.btn.bg-white.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | huynhlehieunam
        .dropdown-menu(aria-labelledby='user_actions_dropdown')
          a.dropdown-item(href='#')
            i.far.fa-user-circle
            | Profile
          a.dropdown-item(href='#')
            i.fas.fa-file-signature
            | View history
          a.dropdown-item(href='#')
            i.fas.fa-sign-out-alt
            | Sign out
  main.container.p-5
    .row
      .col-xs-8.col-md-4.p-2.bg_light.mx-auto.rounded-sm#user_info_panel
        .mx-auto#avatar_area.mb-5
          img.rounded-circle.img-fluid(src="/uploads/images/default_user_avatar.png", alt="")
          div#avatar_btn
            label.input_file_lb(for="avatar_input") Change
            input#avatar_input(type="file" accept="image/png,image/jpeg" name="avatar")
        .text-center.mb-5
          p.font-weight-bold #{userData.username}
        form#info.mb-5(method="post",action="/profile/edit")
          .row.px-3.mb-3
            .col-3 Email
            p.col-9.font-weight-bold #{userData.email}
          .row.px-3.mb-3
            .col-3 Phone
            input.col-9.font-weight-bold(placeholder= userData.phone,type="text",name="phoneNumber")
          .row.px-3.mb-3
            .col-3 Birthday
            input.col-9.font-weight-bold(value=userData.birthday_formatted_2,type="date",name="birthday")
          .row.px-3.mb-3
            .col-3 Password
            input.col-9.font-weight-bold(placeholder=userData.password,type="text",name="password")
          .row.px-3.mb-3
            .col-3 Retyped Password
            input.col-9.font-weight-bold(placeholder=userData.password,type="text",name="retypedPassword")
        .alert.alert-danger.rounded-sm#error_panel
          ul 
            li Error 1: hello error
            li Error 1: hello error
        .text-center
          button.btn.btn-dark(type="submit" form="info") Apply change

  footer.bg_dark_bold.py-2.text-center.text-white
    p © 2019 Internship's Cybozu Made by Tiger Team
  
  script(src="/javascripts/profile_edit_script.js")
  


        
