header
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title= title
  script(src="/javascripts/profile.js")
  link(rel="stylesheet", href="/stylesheets/profile/profile.css")
body#profile.bg_dark_medium
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg_dark_bold.justify-content-between#top_nav
      a.navbar-brand(href='/') Werewolf Online
      .dropdown#user_actions_dropdown
        button.btn.bg-white.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | #{userData.username}
        .dropdown-menu(aria-labelledby='user_actions_dropdown')
          a.dropdown-item(href='/user/profile')
            i.far.fa-user-circle
            | Profile
          a.dropdown-item(href='/user/history')
            i.fas.fa-file-signature
            | View history
          a.dropdown-item(href='/logout')
            i.fas.fa-sign-out-alt
            | Sign out
  main.container
    .row
      .col-xs-8.col-md-4.p-2.bg_light.mx-auto.rounded-sm#user_info_panel
        .mx-auto#avatar_area.mb-5
          img.rounded-circle.img-fluid(src="/uploads/images/default_user_avatar.png", alt="")
        .text-center.mb-5
          p.font-weight-bold #{userData.username}
        #info.mb-5
          .row.px-3.mb-3
            .col-3 Email
            if userData.email
              .col-9.font-weight-bold #{userData.email}
            else
              .col-9.font-weight-bold no information
            endif
          .row.px-3.mb-3
            .col-3 Phone
            if userData.phone
              .col-9.font-weight-bold #{userData.phone}
            else
              .col-9.font-weight-bold no information
            endif
          .row.px-3.mb-3
            .col-3 Birthday
            if userData.birthday_formatted_2
              .col-9.font-weight-bold #{userData.birthday_formatted_2}
            else
              .col-9.font-weight-bold no information
            endif
          .row.px-3.mb-3
            .col-3 Password
            if userData.password
              .col-9.font-weight-bold #{userData.password}
            else
              .col-9.font-weight-bold no information
            endif
        .text-center
          a.btn.btn-dark(href="/profile/edit") Change Profile

  footer.bg_dark_bold.py-2.text-center.text-white
    p © 2019 Internship's Cybozu Made by Tiger Team

  <script>
  
  
  </script>
        
