extends ../layout
block sessionCSS
    title Room | Werewolf Online - Tiger Team
    script(src="/javascripts/room.js")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="/stylesheets/waitingRoom.css")

block content
    .container-fluid.overflow-auto                   
        .col-9
            .row.py-3.d-flex.mb-3
                button#startGame.btn.btn-light.mr-3
                    i.fas.fa-play
                    |&nbsp;Start
                a#leaveRoom.btn.btn-outline-secondary.text-light.font-italic(href='/lounge')
                    i.fas.fa-sign-out-alt.align-middle
                    |&nbsp;Leave
               
            .row.animated.slideInDown.faster.d-none
                h1#phase.mr-2
                    .badge.badge-lg.badge-light Night
                #notification
                    h5.text-light.p-1
                        i.fa.fa-bullhorn.fa-2x.mr-2
                        |  It is midnight. Please go to sleep
                


            #playerList.row.my-3.d-flex.justify-content-center.flex-wrap
                .player.d-flex.flex-column.mr-5.align-items-center.mb-4
                    img(src='http://placehold.it/250' width="150px").m-2
                    button.btn.btn-light Waiting
              
            
            .row.animated.slideInUp.faster.d-none
                .col
                    h1.display-3
                        .badge.badge-light.text-dark 00 : 30
                    
                   
                .col-5
                    .row
                        h4 Character
                    
                    .row
                        h6 Description
                   
                .col.border
                    p Result 
                    p.font-weight-bold Waiting
                    button.btn.btn-light.mb-2 Choose
                    
                    
               


            
    
        .col-3
            b ID: 
                #idRoom.m-3.badge.badge-light=idRoom

        
            ul.nav.nav-tabs.text-secondary#tab
                    li.nav-item
                        a#roomTab.nav-link.active.border.btn-lg.btn-outline-light.font-weight-bold(data-target='#room', data-toggle='tab') Room
                    li.nav-item
                        a#privateTab.nav-link.border.btn-lg.btn-outline-light.font-weight-bold( data-target='#private', data-toggle='tab') Private
                    
            .tab-content
                #room.active.tab-pane.p-2.mb-auto
                    .messageBoxRoom#messageBoxRoom
                        //- div.message.m-2
                        //-     i#avatar.fa.fa-user.mr-2(aria-hidden='true')
                        //-     | #{username} 
                        //-     |&nbsp;&nbsp;&nbsp;&nbsp; 
                        //-     | #{message}
    
                            
                #private.tab-pane.p-2.mb-auto
                    .messageBoxPrivate#messageBoxPrivate
                        //- div.message.m-2
                        //-     i#avatar.fa.fa-user.mr-2(aria-hidden='true')
                        //-     | #{username} 
                        //-     |&nbsp;&nbsp;&nbsp;&nbsp; 
                        //-     | #{message}
                
                .input-group
                    .input-group-prepend
                        select#receiverSelect.custom-select.bg-secondary.text-light(name="receiver")
                            option(value="all") All
                    input#messageText.form-control(name="msg" type='text', placeholder="Type something" autofocus)
                    .input-group-append
                        button#sendMessage.btn.btn-secondary(type='button') Send
                
                    
                
                            
